.App {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.gaps {
  margin: 15px;
  padding: 5px;
  display: flex;
  justify-content: center;
  flex: 1 1;
  /* min-height: 100%; */
  border: 1px solid red;
}
table {
  display: inline-block;
  margin: 5px 0 0;
  height: calc(100% - 0px);
}
td.date_day:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}

